.collapse.navbar-collapse {
  /* display: flex !important;
  justify-content: center; */
  margin-right: auto;
  margin-left: auto;
  width: 416px;
}

@media (min-width: 768px) {
  .collapse.navbar-collapse {
    display: flex !important;
    justify-content: center;
  }
}

a {
  color: #4ab8c4;
}
.navbar-bottom, .navbar-mobile {
  display: none;
}
/*.navbar-mobile {
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  width: 339px;
}*/
/*.navbar-mobile.navbar-nav {
  display: flex;
}*/
#intro-fill-in {
  height: 0px;
  visibility: hidden;
}

@media screen and (min-width: 1220px) {
  /*.art-image {
    background: url("../public/KimberlyBailey-2.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }*/
}
/*@media screen and (max-width: 1220px) {
}*/
@media screen and (max-width: 1130px) {
  #intro-text {
    text-align: left;
  }
}
@media screen and (max-width: 630px) {
  h1.block-title {
    font-size: 54px;
  }
}
@media (max-width: 767px) {
  .roles-text {
    display: none;
  }
  #intro-fill-in {
    visibility: visible;
    color: white; 
    text-shadow: 0.5px 0.5px 20px #777;
  }
  #intro-fill-in a {
    color: white;
  }
  #intro-fill-in a:hover {
    color: #DF3D35;
  }
  .navbar-bottom {
    display: block;
    margin-bottom: 0px;
  }
  .navbar-mobile {
    display: block;
  }
  .bottom-nav-flex {
    display: flex;
    justify-content: center;
  }
  .icon:before {
    font-size: 120%;
  }

  .mobile-break {
    display: block;
  }
  span.project-title::after {
    content: ' ';
    display: block;
  }
  .icon.project-link {
    margin-left: 0px;
    margin-right: 10px;
  }
}
/* Responsive nav for mobile*/
@media (max-width: 767px) {
  nav div {
    width: 100%;
  }
}
/*@media (max-width: 768px) {
}*/

.block.title {
  padding-top: 80px;
}
.home-title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #DF3D35;
  opacity: .7;
}

.home .emphasized {
  font-weight: 550;
  opacity: 0.7;
  letter-spacing: .09em;
}


.project-role{
  color: #777
}

.project-link {
  margin-left: 10px;
  font-size: 16px;
}

.thumbnail {
  margin-bottom:50px;
  border: none;
}

.dropdown-menu {
  border: none;
  box-shadow: none;
}

.social span {
  color: #DF3D35;
}

.social span:hover {
  opacity: 0.7;
}

.roles-text {
  color: white; 
  text-shadow: 0.5px 0.5px 20px #777;
}

.navbar-nav a {
  font-size: 16px;
}

.intro-fixed {
  position: fixed;
  z-index: 1030;
}

.intro-scroll {
  padding-right: 35%;
}

.intro-name-style {
  letter-spacing: .15em;
  color: #888888;
  text-transform: uppercase;
}

.thumbnail img {
  width: 242px;
  height: 200px;
}

iframe {
  width: 90%;
  height: 50vh;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

@media (max-width: 767px) {
  iframe {
    height: 25vh;
  }
}

.thumbnail.talks, .thumbnail.writing {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.caption {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.caption.home {
  width:100%;
  margin-top: 40px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 16px;
}

.caption.talks, .caption.writing {
  width: 80%;
}

.writing .block-lg-middle {
  padding-top: 0;
}

.thumbnail.writing {
  margin-bottom: 30px;
}

.thumbnail.writing:first-child {
  padding-top: 0;
}

.caption.writing:first-child {
  padding-top: 0;
}
/*
.caption.writing h3:first-child{
  margin-top: 0;
}*/

.resume-row:first-child {
  margin-top: 0px;
}

.resume-row {
  margin-top: 80px;
}

.resume-download {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  margin-top: 50px;
}

.resume-download a {
  letter-spacing: .15em;
  text-transform: uppercase;
}

.btn-download {
  color: white;
  background-color: #4ab8c4;
  border-color: #3ea2ad;
}

.btn-download:hover {
  color: white;
  opacity: .7;
}

.btn-download:focus, .btn-download.focus {
  color: white;
  opacity: .7;
  background-color: #3ea2ad;
  border-color: #34919b;
}

.resume-section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.resume-section-role {
  margin-bottom: 35px;
}

.resume-section-role-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul.contact {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.contact li {
  padding-left: 20px;
}

.contact a {
  color: #4ab8c4;
}

.contact a:hover {
  opacity: 0.7;
}

.caption.resume-section .timeline {
  font-style: italic;
}

.tech-stack, .expertise-area {
  color: #60767B;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.recommendation {
  font-style: italic;
}

.caption.journalism {
  width: 85%;
}

.thumbnail.talks img {
  width: 100%;
  height: auto;
}

.navbar-default .navbar-nav > .active > a {
  color: #DF3D35;
}

.spaced {
  margin-top: 40px;
  /* margin-bottom: 22px; */
}