/*.art-image{
  background: url("../public/KimberlyBailey-2.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}*/

.navbar-bottom {
  display: none;
}
#intro-fill-in {
  height: 0px;
  visibility: hidden;
}

@media screen and (min-width: 1220px) {
  .art-image {
    background: url("../public/KimberlyBailey-2.jpg");
    /*background-size: width height;*/
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1220px) {
  .art-image {
    background: url("../public/KimberlyBailey-2.jpg");
    /*background-size: width height;*/
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1130px) {
  .art-image {
    background: url("../public/KimberlyBailey-2.jpg");
    /*background-size: width height;*/
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  #intro-text {
    text-align: left;
  }
}
@media screen and (max-width: 630px) {
  h1.block-title {
    font-size: 54px;
  }
}
@media (max-width: 767px) {
  .art-image {
    background-position: center bottom;
    padding-top: 0px;
  }
  .roles-text {
    display: none;
  }
  #intro-fill-in {
    visibility: visible;
    color: white; 
    text-shadow: 0.5px 0.5px 20px #777;
  }
  #intro-fill-in a {
    color: white;
  }
  #intro-fill-in a:hover {
    color: #DF3D35;
  }
  .navbar-bottom {
    display: block;
    margin-bottom: 0px;
  }
  .bottom-nav-flex {
    display: flex;
    justify-content: center;
  }
  .icon:before {
    font-size: 120%;
  }

  .mobile-break {
    display: block;
  }
  span.project-title::after {
    content: ' ';
    display: block;
  }
  .icon.project-link {
    margin-left: 0px;
    margin-right: 10px;
  }
  /*.project-link:first-child:before{
    content: "\A";
    white-space: pre;
  }*/
}
/* Responsive nav for mobile*/
@media (max-width: 767px) {
  nav div {
    width: 100%;
  }
}
@media (max-width: 768px) {
/*  .navbar-bottom {
    display: none;
  }*/
}

.about-image {
  background: url("../public/teal.jpg");
  /*background-size: width height;*/
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.project-role{
  color: #777
}

.project-link {
  margin-left: 10px;
  font-size: 16px;
}

/* trying to overwrite Bootstrap */
.thumbnail {
  margin-bottom:50px;
  border: none;
}

.dropdown-menu {
  border: none;
  box-shadow: none;
}

.social span {
  color: #DF3D35;
}

.social span:hover {
  opacity: 0.7;
}

.roles-text {
  color: white; 
  text-shadow: 0.5px 0.5px 20px #777;
}

.navbar-nav a {
  font-size: 16px;
}

.intro-fixed {
  position: fixed;
  /*right: 0;
  left: 0;*/
  z-index: 1030;
}

.intro-scroll {
  padding-right: 35%;
}

.intro-name-style {
  letter-spacing: .15em;
  color: #888888;
  text-transform: uppercase;
}

.thumbnail img {
  width: 242px;
  height: 200px;
}

iframe {
  width: 90%;
  height: 50vh;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

@media (max-width: 767px) {
  iframe {
    height: 25vh;
  }
}

.thumbnail.talks {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.caption {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.caption.talks {
  width: 80%;
}

.resume-row:first-child {
  margin-top: 0px;
}

.resume-row {
  margin-top: 80px;
}

.resume-download {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  margin-top: 50px;
}

.resume-download a {
  letter-spacing: .15em;
  text-transform: uppercase;
}

.btn-download {
  color: white;
  background-color: #79E3C4;
  border-color: #75DBBD;
}

.btn-download:hover {
  color: white;
  opacity: .7;
}

.btn-download:focus, .btn-download.focus {
  color: white;
  opacity: .7;
  background-color: #75DBBD;
  border-color: #6BC9AE;
}

.resume-section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

.resume-section-role {
  margin-bottom: 35px;
}

.resume-section-role-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

ul.contact {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.contact li {
  padding-left: 20px;
}

.contact a {
  color: #79E3C4;
}

.contact a:hover {
  opacity: 0.7;
}

.caption.resume-section .timeline {
  font-style: italic;
}

.tech-stack, .expertise-area {
  color: #BEC8CE;
  letter-spacing: .15em;
  text-transform: uppercase;
}

/*.caption.resume-section .responsibilities {
  padding: 0;
}*/

.caption.journalism {
  width: 85%;
}

.thumbnail.talks img {
  width: 100%;
  height: auto;
}

.navbar-default .navbar-nav > .active > a {
  color: #DF3D35;
}