.art-image{
  background: url("../public/headshot.jpg");
}

.project-role{
  color: #777
}

.project-link {
  margin-left: 10px;
  font-size: 16px;
}

/* trying to overwrite Bootstrap */
.thumbnail {
  margin-bottom:50px;
  border: none;
}

.dropdown-menu {
  border: none;
  box-shadow: none;
}


.navbar-nav a {
  font-size: 16px;
}