.grid_vis {
  display: none;
}

.nav_menu {
  top: 0px;
  position: fixed;
  background: white;
  border-bottom: 2px solid black;
  width: 100%;
  display: block;
  z-index: 999;
}

.nav_menu p {
  background: white;
}

ul {
  padding-top: 0px;
  padding-left: 0px;
}

.projects {
  padding-top: 50px;
  display: block;
}

.projects--project {
  border: 1px solid gray;
  margin-top: 50px;
  display: block;
  height: 250px;
}

.projects--project--label {
  margin-top: 50px;
  list-style: none;
/*  text-align: center;*/
}

.projects--project--label p {
  margin: 2px 2px;
}

.projects--project--label--affiliation {
  color: gray;
  font-style: italic;
}

.project_1 {
  background: url('../assets/articlemapping.png');
  background-size: cover;
  border: none;
}

.project_2 {
  background: url('../assets/twitterdiversity.png');
  background-size: cover;
}

.project_final {
  background: url('../assets/muslimwomen.png');
  background-size: cover;
  border: none;
  margin-bottom: 50px;
}