<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title></title>
<link rel="stylesheet" href="/css/foundation.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen">
<!-- <script src="/global.js" type="text/javascript" charset="utf-8"></script> -->
</head>


<div class="grid_vis">
  <div class="small-push-0">
    <p>Hello world.</p>
  </div>
  
  <div class="small-push-1">
    <p>Hello world.</p>
  </div>

  <div class="small-push-2">
    <p>Hello world.</p>
  </div>
  
  <div class="small-push-3">
    <p>Hello world.</p>
  </div>
  
  <div class="small-push-4">
    <p>Hello world.</p>
  </div>

  <div class="small-push-5">
    <p>Hello world.</p>
  </div>
  
  <div class="small-push-6">
    <p>Hello world.</p>
  </div>
  
  <div class="small-push-7">
    <p>Hello world.</p>
  </div>

  <div class="small-push-8">
    <p>Hello world.</p>
  </div>
  
  <div class="small-push-9">
    <p>Hello world.</p>
  </div>
  
  <div class="small-push-10">
    <p>Hello world.</p>
  </div>

  <div class="small-push-11">
    <p>Hello world.</p>
  </div>
</div>

<div class="nav_menu">
  <p class="small-push-1 medium-4">I AM THE NAV MENU</p>
</div>
<div class="projects column.medium-centered">
  <div class="projects--project project_1 medium-7 medium-push-2">
    <p>I AM A PROJECT</p>
  </div>
  <div class="projects--project project_2 medium-7 medium-push-2">
    <p>I AM ALSO A PROJECT</p>
  </div>
  <div class="projects--project project_final medium-7 medium-push-2">
    <p>I AM A THIRD PROJECT</p>
  </div> 
</div>